@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 1000px;
  margin: auto;
  position: relative;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 1rem;
}
.propic {
  border-radius: 50%;
  border: 5px solid #fff;
  position: absolute;
  top: 380px;
  left: 10px;
  width: 128px;
}
.fullname {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  position: absolute;
  left: 175px;
  /* top: 295px; */
  bottom: 10px;
}
.username{
  position: absolute;
  color: #eee;
  font-size: 1.25rem;
  left: 175px;
  bottom: 0;
}
.logout-btn{
    cursor: pointer;
    font-size: 1rem;
    background: #4942E4;
    border: none;
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-weight: 500;
  
}
.edit-btn{
  cursor: pointer;
  position: absolute;
  right: 25px;
  bottom: 20px;
  font-size: 1rem;
  background: #4942E4;
  border: none;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
}
.edit-btn:hover{
  background: #4039c5;
}
.profile-links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.timeline,.about,.friends,.photos,.videos{
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-right: 2px solid #666;
  padding-right: 10px;
}
.videos{
  border: none;
}
.friends span{
  color: #555;
  font-size: 1.2rem;
}
.profile-links svg{
  height: 22px;
  width: 22px;
}
.content{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.post{
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 25px;
}
.post-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-top svg{
  width: 20px;
  height: 20px;
}
.post-top-left{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.name{
  margin-bottom: 0;
}
.post-time{
  margin-top: 0;
  color: #555;
}
.propic-sm{
  width: 50px;
  border-radius: 50%;
}
.post-middle{
  margin-bottom: 10px;
}
.post-img{
  width: 100%;
}
.post-bottom{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.post-bottom svg{
  width: 22px;
  height: 22px;
}
.photos-grid{
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 25px;
}
.photos-grid p{
  font-size: 1.5rem;
  margin: 0 0 10px 10px;
}
.photos-grid div{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  place-items: center;
}
.photos-grid div img{
  width: 90px;
  border-radius: 10px;
}
.about-section{
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 1rem;
}
.about-section h2{
  margin: 0;
  margin-bottom: 10px;
}
.bold-text{
  font-weight: 600;
  margin-bottom: 0;
}
.normal-text{
  margin-top: 5px;
}
@media screen and (max-width: 1035px){
  .container{
    width: 80%;
  }
  .content{
    flex-direction: column;
  }
  .posts{
    order: 2;
  }
  .photos-grid div{
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (max-width: 768px){
  .edit-btn{
    display: none;
  }
  .profile-links{
    flex-wrap: wrap;
  }
  .timeline,.about,.friends,.photos,.videos{
    font-size: 1rem;
  }
  .fullname{
    font-size: 1.75rem;
  }
  .username{
    font-size: 1rem;
  }
  .photos-grid div{
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 568px){
  .photos-grid div{
    grid-template-columns: repeat(3, 1fr);
  }
}
